<div class="container">

  <h2>Formulario</h2>

  <form>

    <div class="form-group">
      <label for="idPersona">ID</label>
      <input type="text" class="form-control" id="idPersona" placeholder="Id de la persona" [(ngModel)]="persona.id" name="idPersona">
    </div>

    <div class="form-group">
      <label for="Nombre">Nombre</label>
      <input type="text" class="form-control" id="Nombre" placeholder="Nombre de la persona" [(ngModel)]="persona.id" name="idPersona" >
    </div>
    <div class="form-group">
      <label for="Apellido">Apellido</label>
      <input type="text" class="form-control" id="Apellido" placeholder="Apellido de la persona">
    </div>

    <button type="submit" class="btn btn-primary" (click)="mostrar()"> Mostrar</button>

  </form>


</div>